.card-detail {
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-family: Arial, sans-serif;
  margin: 5%;
  line-height: 40px;
  text-wrap: wrap;
  width: 50%;
}

.card-detail h1 {
  font-size: 60px;
  border-bottom: solid;
  border-color: #42ddf5;
  padding: 2%;
}

.wrapper {
  display: flex;
}

.wrapper h1 {
  display: flex;
}

.wrapper div {
  margin: 10px;
}

.wrapper img {
  width: 300px;
}

.wrapper button {
  background-color: #42ddf5;
  color: white;
  height: 40px;
  font-family: Arial;
  font-size: 30px;
  margin-top: 10px;
}